@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    padding: 20px;
}

.accordion{
    min-width: 500px;
    max-width:800px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    
}
.accordion-item:hover .accordion-header{
    background: #c7dbfa; 
 
}

.accordion-header{
    padding: 15px 40px;  
    background: #f5f8fc; 
    border-top: 1px solid #cdcdcd; 
    border-bottom: 1px solid #cdcdcd;    
}

.accordion-header:hover{
    cursor:pointer; 
}

.accordion-item:nth-child(1) .accordion-header{
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
    border-top: none; 
}

.accordion-header h2{
    font-size:1.2rem;   
    font-weight: 500;
    color: #666;
   
}

.accordion-item .accordion-body{
    text-align: justify;
    padding: 0px 40px;
    font-weight: 300;
    color: #444;
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
   
}

.accordion-item.active .accordion-header{
    background: #c7dbfa; 
    transition: 0.5s;

}
.accordion-item.active .accordion-body{
    text-align: justify;
    padding: 10px 40px;
    font-weight: 300;
    color: #444;
    max-height: 500px;
    transition: 1s;

}

